.list{
  width: 400px;
  list-style: none;
  padding: 0;
  border: 1px solid black;
}

.list li {
  border-radius: 10px;
  margin: 15px;
  padding:5px 10px;
  border: 1px solid black;
  vertical-align: middle;
}

.completed{
  background-color: greenyellow;
}
